<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
    <link rel="stylesheet" href="/newStyle.css">
</head>
<body>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="From">
        <input type="text" name="to" placeholder="To">
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Send</button>
</body>
</html>